@font-face{
  	font-family: "antipasto";
  	scr:url("fonts/antipasto/AntipastoPro_trial.ttf") (format:"truetype");
  }

body{
	padding: 0; 
	margin: 0; 
	font-family: "antipasto";
}

h1{font-family: :"antipasto";}

.bottomRight{
	font-family: "antipasto";
	position: absolute;
	bottom:8px;
	right:50px;
	font-size: 18px;
}