/*@font-face{
  	font-family: 'trench';
  	scr:url('fonts/trench/trench100free.otf') format('truetype');
  }*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	padding: 0; 
	margin: 0; 
	font-family: 'Montserrat';
}

.bottomRight{
	font-weight: lighter;
	font-family: 'Montserrat';
	position: absolute;
	bottom:8px;
	right:20px;
	font-size: 18px;
}
.centerTitle{
	font-size: 50px;
	font-weight: 100;
	font-family: 'Montserrat';
	color: #F7D08A;
	position:absolute;
	bottom:50vh;
	right:50vw + 100px;
}